node-red-flows/alarms-and-access.json
[
    {
        "id": "949110af.5cb5f",
        "type": "tab",
        "label": "Alarm System and Access",
        "disabled": false,
        "info": "# House Alarm System\nThis page is for everything linked to the alarm and physical access to the property. Depending on the situation, the triggers will fire if/when required.\n\n## Modes\n* Armed Away\n* Armed Home\n* Disarmed"
    },
    {
        "id": "c3309a8f.151608",
        "type": "trigger-state",
        "z": "949110af.5cb5f",
        "name": "Armed Away",
        "server": "f36c1731.be17b8",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "alarm_control_panel.primary_alarm_panel",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "jscbryavdi",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_away"
            },
            {
                "id": "flcdldxlufn",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "pending"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 210,
        "y": 40,
        "wires": [
            [
                "478f3a7b.440b04"
            ],
            []
        ]
    },
    {
        "id": "478f3a7b.440b04",
        "type": "api-call-service",
        "z": "949110af.5cb5f",
        "name": "Notify Slack",
        "server": "f36c1731.be17b8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "slack",
        "entityId": "",
        "data": "{\"title\":\"Alarm On\",\"message\":\"House alarm has been turned on (away)\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 450,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "79631f0a.88f52",
        "type": "trigger-state",
        "z": "949110af.5cb5f",
        "name": "Armed Home",
        "server": "f36c1731.be17b8",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "alarm_control_panel.primary_alarm_panel",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "flcdldxlufn",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "pending"
            },
            {
                "id": "l6o36y3l05",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_home"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "58c76d69.456384"
            ],
            []
        ]
    },
    {
        "id": "58c76d69.456384",
        "type": "api-call-service",
        "z": "949110af.5cb5f",
        "name": "Notify Slack",
        "server": "f36c1731.be17b8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "slack",
        "entityId": "",
        "data": "{\"title\":\"Alarm On\",\"message\":\"House alarm has been turned on (home)\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 450,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "fa5e78ba.68ea58",
        "type": "trigger-state",
        "z": "949110af.5cb5f",
        "name": "Disarmed",
        "server": "f36c1731.be17b8",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "alarm_control_panel.primary_alarm_panel",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "4rca1isqoy",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "disarmed"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "be524adf.0ab0c8"
            ],
            []
        ]
    },
    {
        "id": "be524adf.0ab0c8",
        "type": "api-call-service",
        "z": "949110af.5cb5f",
        "name": "Notify Slack",
        "server": "f36c1731.be17b8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "slack",
        "entityId": "",
        "data": "{\"title\":\"Alarm Off\",\"message\":\"House alarm has been turned off\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 450,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "307053ff.1e2b4c",
        "type": "server-state-changed",
        "z": "949110af.5cb5f",
        "name": "Front Door Open",
        "server": "f36c1731.be17b8",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.front_door",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 180,
        "y": 900,
        "wires": [
            [
                "61bd8f0d.4babf",
                "6dc23bd2.946e04",
                "67d51c66.1501f4"
            ],
            []
        ]
    },
    {
        "id": "e7432f85.23e71",
        "type": "server-state-changed",
        "z": "949110af.5cb5f",
        "name": "Conservatory Door Open",
        "server": "f36c1731.be17b8",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.conservatory_doors",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 150,
        "y": 960,
        "wires": [
            [
                "61bd8f0d.4babf",
                "489f3326.d83d4c",
                "67d51c66.1501f4"
            ],
            []
        ]
    },
    {
        "id": "e64b3eb1.e2824",
        "type": "server-state-changed",
        "z": "949110af.5cb5f",
        "name": "Hallway Motion Detected",
        "server": "f36c1731.be17b8",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.hallway_motion_sensor",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 150,
        "y": 1020,
        "wires": [
            [
                "61bd8f0d.4babf",
                "67d51c66.1501f4"
            ],
            []
        ]
    },
    {
        "id": "e219e23d.bfc55",
        "type": "server-state-changed",
        "z": "949110af.5cb5f",
        "name": "Landing Motion Detected",
        "server": "f36c1731.be17b8",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.landing_motion_sensor",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 150,
        "y": 1140,
        "wires": [
            [
                "61bd8f0d.4babf"
            ],
            []
        ]
    },
    {
        "id": "d313b60d.a46b08",
        "type": "server-state-changed",
        "z": "949110af.5cb5f",
        "name": "Living Room Motion Detected",
        "server": "f36c1731.be17b8",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.living_room_motion_sensor",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 140,
        "y": 1080,
        "wires": [
            [
                "61bd8f0d.4babf",
                "67d51c66.1501f4"
            ],
            []
        ]
    },
    {
        "id": "61bd8f0d.4babf",
        "type": "api-current-state",
        "z": "949110af.5cb5f",
        "name": "Armed Away",
        "server": "f36c1731.be17b8",
        "version": 1,
        "outputs": 2,
        "halt_if": "armed_away",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "alarm_control_panel.primary_alarm_panel",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 430,
        "y": 1040,
        "wires": [
            [
                "a5d8ce23.c436b"
            ],
            []
        ]
    },
    {
        "id": "67d51c66.1501f4",
        "type": "api-current-state",
        "z": "949110af.5cb5f",
        "name": "Armed Home",
        "server": "f36c1731.be17b8",
        "version": 1,
        "outputs": 2,
        "halt_if": "armed_home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "alarm_control_panel.primary_alarm_panel",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 430,
        "y": 1120,
        "wires": [
            [
                "a5d8ce23.c436b"
            ],
            []
        ]
    },
    {
        "id": "a5d8ce23.c436b",
        "type": "api-call-service",
        "z": "949110af.5cb5f",
        "name": "Trigger Alarm Countdown",
        "server": "f36c1731.be17b8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "alarm_control_panel",
        "service": "alarm_trigger",
        "entityId": "alarm_control_panel.primary_alarm_panel",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 730,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "a794e22b.30d96",
        "type": "server-state-changed",
        "z": "949110af.5cb5f",
        "name": "Alarm Triggered",
        "server": "f36c1731.be17b8",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "alarm_control_panel.primary_alarm_panel",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "triggered",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 880,
        "y": 400,
        "wires": [
            [
                "11aa29cd.74ec46",
                "70ba3e8.72f6bc",
                "142c0092.2edc1f"
            ],
            []
        ]
    },
    {
        "id": "c2e78c77.ecba5",
        "type": "trigger-state",
        "z": "949110af.5cb5f",
        "name": "Alarm Reset",
        "server": "f36c1731.be17b8",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "alarm_control_panel.primary_alarm_panel",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "sf5z4gcgsgn",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "disarmed"
            },
            {
                "id": "lukswuw377s",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "triggered"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 890,
        "y": 140,
        "wires": [
            [
                "cc751b02.9096d8",
                "c0272130.3c6a7",
                "f9d1b339.ac336"
            ],
            []
        ]
    },
    {
        "id": "6dc23bd2.946e04",
        "type": "api-call-service",
        "z": "949110af.5cb5f",
        "name": "Notify Slack",
        "server": "f36c1731.be17b8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "slack",
        "entityId": "",
        "data": "{\"title\":\"Front Door Status\",\"message\":\"Front door has been opened\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 430,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "489f3326.d83d4c",
        "type": "api-call-service",
        "z": "949110af.5cb5f",
        "name": "Notify Slack",
        "server": "f36c1731.be17b8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "slack",
        "entityId": "",
        "data": "{\"title\":\"Conservatory Door Status\",\"message\":\"Conservatory door has been opened\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 430,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "761a49e9.fe0548",
        "type": "server-state-changed",
        "z": "949110af.5cb5f",
        "name": "Colin @ Home",
        "server": "f36c1731.be17b8",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "person.colin_barker",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 90,
        "y": 700,
        "wires": [
            [
                "436b5700.fe2e18",
                "917d7beb.a90518"
            ],
            [
                "d8fd1536.d10a38",
                "a6ba32d9.68573"
            ]
        ]
    },
    {
        "id": "491414bb.33cc9c",
        "type": "api-current-state",
        "z": "949110af.5cb5f",
        "name": "No One Home?",
        "server": "f36c1731.be17b8",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "binary_sensor.no_one_home",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 520,
        "y": 720,
        "wires": [
            [
                "9b9dc38a.f215b"
            ],
            []
        ]
    },
    {
        "id": "d8fd1536.d10a38",
        "type": "delay",
        "z": "949110af.5cb5f",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 340,
        "y": 720,
        "wires": [
            [
                "491414bb.33cc9c"
            ]
        ]
    },
    {
        "id": "9b9dc38a.f215b",
        "type": "api-current-state",
        "z": "949110af.5cb5f",
        "name": "Guest Mode Off",
        "server": "f36c1731.be17b8",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.guest_mode",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 720,
        "y": 720,
        "wires": [
            [
                "d6bbc21f.9af96"
            ],
            []
        ]
    },
    {
        "id": "d6bbc21f.9af96",
        "type": "api-call-service",
        "z": "949110af.5cb5f",
        "name": "iOS Push: Hibernate House",
        "server": "f36c1731.be17b8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "mobile_app_colins",
        "entityId": "",
        "data": "{\"title\":\"Detected leaving the house\",\"message\":\"Do you want to hibernate the house\",\"data\":{\"push\":{\"category\":\"hibernate_house\"}}}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 960,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "436b5700.fe2e18",
        "type": "api-current-state",
        "z": "949110af.5cb5f",
        "name": "No One Home?",
        "server": "f36c1731.be17b8",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "binary_sensor.no_one_home",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 520,
        "y": 660,
        "wires": [
            [],
            [
                "b47718b5.5abb68"
            ]
        ]
    },
    {
        "id": "b47718b5.5abb68",
        "type": "api-current-state",
        "z": "949110af.5cb5f",
        "name": "Guest Mode Off",
        "server": "f36c1731.be17b8",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.guest_mode",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 720,
        "y": 660,
        "wires": [
            [
                "4025c76f.33c128"
            ],
            []
        ]
    },
    {
        "id": "4025c76f.33c128",
        "type": "api-call-service",
        "z": "949110af.5cb5f",
        "name": "iOS Push: Return Home",
        "server": "f36c1731.be17b8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "mobile_app_colins",
        "entityId": "",
        "data": "{\"title\":\"Welcome Home Colin!\",\"message\":\"Do you wish to unlock the house?\",\"data\":{\"push\":{\"category\":\"return_home\"}}}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 950,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "a6ba32d9.68573",
        "type": "api-call-service",
        "z": "949110af.5cb5f",
        "name": "Notify Slack",
        "server": "f36c1731.be17b8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "slack",
        "entityId": "",
        "data": "{\"title\":\"Leaving House\",\"message\":\"Detected Leaving: Have fun Colin!\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 350,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "917d7beb.a90518",
        "type": "api-call-service",
        "z": "949110af.5cb5f",
        "name": "Notify Slack",
        "server": "f36c1731.be17b8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "slack",
        "entityId": "",
        "data": "{\"title\":\"Returnong to the house\",\"message\":\"Detected Arriving: Welcome home Colin!\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 350,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "13288b57.e09645",
        "type": "link in",
        "z": "949110af.5cb5f",
        "name": "Intruder Alert",
        "links": [
            "d2a71531.0381e8"
        ],
        "x": 935,
        "y": 340,
        "wires": [
            [
                "70ba3e8.72f6bc",
                "11aa29cd.74ec46",
                "142c0092.2edc1f"
            ]
        ]
    },
    {
        "id": "70ba3e8.72f6bc",
        "type": "api-call-service",
        "z": "949110af.5cb5f",
        "name": "Notify Slack",
        "server": "f36c1731.be17b8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "slack",
        "entityId": "",
        "data": "{\"title\":\"Alarm has been tiggered\",\"message\":\":warning: ALERT: HOUSE ALARM HAS BEEN TRIGGERED :warning:\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1150,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "11aa29cd.74ec46",
        "type": "api-call-service",
        "z": "949110af.5cb5f",
        "name": "Notify iOS",
        "server": "f36c1731.be17b8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "mobile_app_colins",
        "entityId": "",
        "data": "{\"title\":\"ALERT: ALARM TRIGGERED\",\"message\":\" Warning, the house alarm has been triggered\",\"data\":{\"push\":{\"sound\":{\"name\":\"3rd_party_critical.caf\",\"critical\":1,\"volume\":1}}}}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1150,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "142c0092.2edc1f",
        "type": "api-call-service",
        "z": "949110af.5cb5f",
        "name": "Turn Lights Red",
        "server": "f36c1731.be17b8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.orange_room_main, light.bedroom_main, light.living_room_light_left, light.living_room_light_right",
        "data": "{\"rgb_color\":[255,43,0]}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1160,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "cc751b02.9096d8",
        "type": "api-call-service",
        "z": "949110af.5cb5f",
        "name": "Notify Slack",
        "server": "f36c1731.be17b8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "slack",
        "entityId": "",
        "data": "{\"title\":\"Reset the intruder alert\",\"message\":\"Intruder Alarm Reset\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1170,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c0272130.3c6a7",
        "type": "api-call-service",
        "z": "949110af.5cb5f",
        "name": "Reset Front Room Lights",
        "server": "f36c1731.be17b8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.living_room_light_left, light.living_room_light_right",
        "data": "{\"rgb_color\":[255,210,129]}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1210,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "f9d1b339.ac336",
        "type": "api-call-service",
        "z": "949110af.5cb5f",
        "name": "Reset Orange/Bedroom Lights",
        "server": "f36c1731.be17b8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.orange_room_main, light.bedroom_main",
        "data": "{\"color_temp\":272}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1230,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "b2533d74.c6497",
        "type": "link in",
        "z": "949110af.5cb5f",
        "name": "Reset Intruder Alert",
        "links": [],
        "x": 935,
        "y": 80,
        "wires": [
            [
                "cc751b02.9096d8",
                "c0272130.3c6a7",
                "f9d1b339.ac336"
            ]
        ]
    },
    {
        "id": "5294b1e8.e1eb8",
        "type": "inject",
        "z": "949110af.5cb5f",
        "name": "Manual Reset",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 890,
        "y": 200,
        "wires": [
            [
                "cc751b02.9096d8",
                "c0272130.3c6a7",
                "f9d1b339.ac336"
            ]
        ]
    },
    {
        "id": "87ba6553.7d7a08",
        "type": "link in",
        "z": "949110af.5cb5f",
        "name": "Arm Alarm (AWAY)",
        "links": [
            "2c7723de.df148c",
            "3bfca528.42b9fa"
        ],
        "x": 275,
        "y": 300,
        "wires": [
            [
                "7931b444.5fb33c"
            ]
        ]
    },
    {
        "id": "87df57ed.2752b8",
        "type": "link in",
        "z": "949110af.5cb5f",
        "name": "Arm Alarm (HOME)",
        "links": [
            "582edfe.38d642"
        ],
        "x": 275,
        "y": 360,
        "wires": [
            [
                "60694132.a8cc7"
            ]
        ]
    },
    {
        "id": "7931b444.5fb33c",
        "type": "api-call-service",
        "z": "949110af.5cb5f",
        "name": "Arm Alarm (AWAY)",
        "server": "f36c1731.be17b8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "alarm_control_panel",
        "service": "alarm_arm_home",
        "entityId": "alarm_control_panel.primary_alarm_panel",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 470,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "60694132.a8cc7",
        "type": "api-call-service",
        "z": "949110af.5cb5f",
        "name": "Arm Alarm (HOME)",
        "server": "f36c1731.be17b8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "alarm_control_panel",
        "service": "alarm_arm_home",
        "entityId": "alarm_control_panel.primary_alarm_panel",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 470,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "a43d66fd.8b8508",
        "type": "api-call-service",
        "z": "949110af.5cb5f",
        "name": "Disarm Alarm",
        "server": "f36c1731.be17b8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "alarm_control_panel",
        "service": "alarm_disarm",
        "entityId": "alarm_control_panel.primary_alarm_panel",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 460,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "c0b95ab9.a0d848",
        "type": "link in",
        "z": "949110af.5cb5f",
        "name": "Disarm Alarm",
        "links": [
            "d698ae7e.cd2fa",
            "97d0d56c.3243c8"
        ],
        "x": 275,
        "y": 420,
        "wires": [
            [
                "a43d66fd.8b8508"
            ]
        ]
    },
    {
        "id": "f36c1731.be17b8",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "addon": true
    }
]